html, body, ul, ol {
	margin: 0;
}


input {
	height: 50px;
	width: 200px;
	font-size: 1.2em;
}

person {
	display: inline-block;
	width: 300px;
	margin: 0 50px;
	height: 400px;
	border: 1px solid black;
	background-color: yellow;
}

person header {
	height: 10%;
	width: 100%;
	text-align: center;
	background-color: green;
}

person footer {
	height: 10%;
	width: 100%;
	text-align: center;
	background-color: lightblue;
	top: 0;
	bottom: 50px;
	margin: 0;
}

person section {
	width: 100%;
	height: 80%;
	background-color: lightgrey;
	overflow-x: hidden;
	overflow-y: scroll;
}




.bioImage {
	height: 150px;
	width: 90%;
}




#boxer {
	margin: 25px;
	width: 90%;
}